.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  padding-inline: 5vw;
  color: white;
  min-height: 100vh;
  padding-bottom: 5rem;
}
.App-link {
  color: #61dafb;
}

.info-container {
  display: inline-block;
  flex-direction: column;
  padding-right: 4vw;
  
  text-wrap: nowrap;
}
.info-container h1 {
  font-size: clamp(1rem, 3rem, 4vw);
}
.maze-container {
  display: inline-block;
  width: 100%;
}
@media screen and (min-aspect-ratio: 5/4) {
  .maze-container {
    align-self: center;
  }
}

@media screen and (min-aspect-ratio: 5/4) {
  .App {
    flex-direction: row;
  }
}


button {
  height: fit-content;
  align-self: flex-end;
  
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: clamp(0.8rem, 2rem, 2vw);
  font-weight: 600;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem #00000050;
}
button:hover {
  background-color: gray;
  box-shadow: none;

  transition: all 0.1s ease-out;
}
button:active {
  background-color: #61dafb !important  ;
  box-shadow: none;
}