.generation-form {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.8rem, 2rem, 2vw);
}
.generation-form .dimensions {
  display: flex;
  flex-direction: row;
}

.generation-form .input-group {
  display: inline;
}

.generation-form input {
  font-size: clamp(0.8rem, 2rem, 2vw);
  width: clamp(3rem, 10vw, 10rem);
}

.generation-form .input-group label {
  display: block;
}

.generation-form .icon-wrapper {
  display: flex;
}
.generation-form .x-icon {
  margin-inline: 1rem;
  font-size: clamp(0.8rem, 2rem, 2vw);
  align-self: flex-end;
}

.generation-form button {
  margin-right: 1rem;
}

.generation-form .button-group {
  padding-block: 1rem;
}