:root {
  --border-width: 1px;
  --negative-border-width: -1px;
}
.border-1 {
  --border-width: 1px;
  --negative-border-width: -1px;
}
.border-5 {
  --border-width: 5px;
  --negative-border-width: -5px;
}
.border-10 {
  --border-width: 10px;
  --negative-border-width: -10px;
}
.border-15 {
  --border-width: 15px;
  --negative-border-width: -15px;
}
.border-20 {
  --border-width: 20px;
  --negative-border-width: -20px;
}

.maze {
  border: var(--border-width) white solid;
  padding: var(--border-width);
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-aspect-ratio: 4/3) {
  .maze {
    margin-inline: auto;
    max-width: 80vh;
    max-height: 80vw;
  }
}

.maze-row {
  display: flex;
  padding: 0;
  margin: 0;
}

.maze-cell {
  display: inline-block;
  width: 100%;
  aspect-ratio: 1;
}

.cell-n {
  border-top: var(--border-width) white solid;
  margin-top: var(--negative-border-width);
}
.cell-e {
  border-right: var(--border-width) white solid;
  margin-right: var(--negative-border-width);
}
.cell-s {
  border-bottom: var(--border-width) white solid;
  margin-bottom: var(--negative-border-width);
}
.cell-w {
  border-left: var(--border-width) white solid;
  margin-left: var(--negative-border-width);
}
